{% extends 'base.html' %}
{% load static %}
{% load jalali_date %}


{% block head_title %}فهرست واحدهای فناور{% endblock %}

{% block title-breadcrumb %}
	<div class="col-md-10">
    <br>
    <br>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a>رشد، خلاقیت و نوآوری</a>
			</li>
			<li class="breadcrumb-item active">
                <a  href="{% url 'documents:tech_list' %}" >فهرست واحدهای فناور</a>
			</li>
		</ol>
	</div>

	<div class="col-md-2">
		<div class="title-action float-right">
            <div class="btn-group">
                <a href="{% url 'documents:tech_create' %}" class="btn btn-outline-primary"><i class="fa small fa-plus"></i> <i class="fa fa-rocket"></i> افزودن واحد فناور جدید</a>

            </div>
            </div>
	</div>
{% endblock %}

{% block content %}
	<div class="row">
    	<div class="col-lg-12">
			<div class="ibox ">
                <div class="ibox-title">
                    <h5>جستجوی پیشرفته واحدهای فناور</h5>
                    <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                </div>
                <div class="ibox-content">
                    <br>
                    <div class="row">
                        <div class="col-lg-1">
{#                            <label for="producer">ارائه دهنده</label>#}
                        </div>
                        <div class="col-lg-3">
{#                            <input type="text" id="producer" name="producer">#}
                        </div>
                        <div class="col-lg-1">
{#                            <label for="center">مرکز</label>#}
                        </div>
                        <div class="col-lg-3">
{#                            <input type="text" id="center" name="center">#}
                        </div>
                        <div class="col-lg-1">
{#                            <label for="start_date">تاریخ شروع</label>#}
                        </div>
                        <div class="col-lg-3">
{#                            <input type="text" id="start_date" name="start_date">#}
                        </div>
                    </div>
                    <br>
                </div>
            </div>
			<div class="table-responsive">
            	<br>
				<table class="table table-striped table-bordered table-hover dataTables-example">
					<thead>
					<tr>
						<th class="text-center" style="background-color: white;width: 7%">ردیف</th>
						<th class="text-center" style="background-color: white">نام</th>
						<th class="text-center" style="background-color: white">وضع موجودیت</th>
						<th class="text-center" style="background-color: white">مسئول واحد</th>
						<th class="text-center" style="background-color: white">شماره تماس</th>
						<th class="text-center" style="background-color: white">سال تاسیس</th>
						<th class="text-center" style="background-color: white">حوزه فعالیت</th>
						<th class="text-center" style="background-color: white">حوزه تخصصی</th>
						<th class="text-center" style="background-color: white">تعداد اعضا</th>
						<th class="text-center" style="background-color: white; width: 10%">عملیات</th>
					</tr>
					</thead>
					<tbody>

					{% for obj in object_list %}
						<tr id="c-tr-{{ obj.id }}" style="background-color: whitesmoke">
							<td class="align-middle text-center">{{ forloop.counter }}</td>
							<td class="align-middle text-center"><a href="{% url 'documents:tech_details' pk=obj.id %}">{{ obj.title }}</a></td>
							<td class="align-middle text-center">{{ obj.status }}</td>
							<td class="align-middle text-center">{{ obj.manager }}</td>
							<td class="align-middle text-center">{{ obj.contact }}</td>
							<td class="align-middle text-center">{{ obj.establish_year }}</td>
                            <td class="align-middle text-center">{{ obj.activity_field }}</td>
                            <td class="align-middle text-center">{{ obj.professional_field }}</td>
                            <td class="align-middle text-center">{{ obj.number }}</td>
							<td class="align-middle text-center">
								<div class="btn-group">
								<a href="{% url 'documents:tech_update' pk=obj.id %}" class="btn btn-sm btn-outline-warning"><i class="fa small fa-pen"></i><i class="fa fa-cube"></i> ویرایش</a>
								<button data-cid="{{ obj.id }}" class="btn btn-sm btn-outline-danger m-l-sm" data-toggle="modal" data-target="#delete-modal"><i class="fa fa-trash"></i> حذف
								</button>
								</div>
							</td>
						</tr>
					{% endfor %}

					</tbody>

				</table>
			</div>
        </div>
	</div>

	<!-- Delete Modal -->
	<div class="modal inmodal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">بستن</span>
					</button>
					<h5 class="modal-title" id="exampleModalLabel">حذف واحد فناور</h5>
				</div>
				<form method="post" id="delete-form">
					{% csrf_token %}
					<div class="modal-body">
						<p class="float-right">
							آیا واقعا می خواهید واحد فناور
							<code>
								<strong id="delete-name"></strong>
							</code>
							را حذف کنید؟
						</p>
					</div>
					<div class="modal-footer float-right">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
						<button type="submit" class="btn btn-danger">حذف</button>
					</div>
				</form>
			</div>
		</div>
	</div>


{% endblock %}

{% block scripts %}
	<link href="{% static 'vendors/datatables/css/datatables.min.css' %}" rel="stylesheet">
    <script src="{% static 'vendors/datatables/js/datatables-document.min.js' %}"></script>
	<script src="{% static 'vendors/datatables/js/datatables.bootstrap4.min.js' %}"></script>

	<script>
		var table;
		$(document).ready(function () {
			table = $('.dataTables-example').DataTable({
				pageLength: 100,
				responsive: true,
				dom: 'lTfgitp<"float-right"B>',
                buttons: [
					{
						extend: 'print',
                        pageSize: 'A4',
                        text: '<button class="btn btn-lg btn-outline-danger"><i class="fa fa-print"></i> خروجی PDF</button>',
						className: 'bg-transparent',
                        title: '',

						exportOptions: {
							columns: [0, 1, 2, 3, 4, 5, 6,7,8],
							{#stripHtml: true#}
						},
                        customize: function (win) {
							$(win.document.body).addClass('white-bg');
							$(win.document.body).find('thead')
								.css('color', 'black')
								.css('font-family', 'VazirFD')
								.prepend("<tr><th colspan='9'>" +
									"<img src='http://127.0.0.1:8000/static/img/logo.png' class='float-left obj-fit-contain' style='position:relative;width:15%' />" +
									"<img src='http://127.0.0.1:8000/static/img/sepah_balck.png' class='float-right obj-fit-contain' style='position:relative;width:15%' />" +
									"<h2 class='text-center'><u><b>فهرست واحدهای فناور</b></u></h2>" +
									"</th>" +
									"</tr>");
                            $(win.document.body).find('tbody')
								.css('color', 'black')
								.css('font-family', 'VazirFD')
								.append("<tr><th colspan='9'>" +
                                    "<br><br><br>" +
                                    "<h2 class='text-center' ><b>مدیر دانش ساتخ ندسا</b></h2>" +
                                    "<h3 class='text-center' >محل مهر و امضا</h3" +
                                    "<br><br><br>" +
                                    "</tr>")

							$(win.document.body).find('table')
								.addClass('compact')
								.css('font-size', 'inherit')
								.css('color', 'black')
								.css('border-color', 'transparent')
								.css('font-family', 'VazirFD');

							$(win.document.body).find('td:eq(0)')
								.css('width', '5%');
							$(win.document.body).find('td:eq(7)')
								.css('width', '15%');
							$(win.document.body).find('td:nth-child(odd)')
								.css('background-color', '#f2f2f2');
						}
					},
                    {
						extend: 'excelHtml5',
                        text: '<button class="btn btn-lg btn-outline-success"><i class="fa fa-print"></i> خروجی Excel</button>',
						className: 'bg-transparent',
                        title: '',
						filename: 'techs',
						exportOptions: {
							columns: [ 1, 2, 3, 4, 5, 6,7,8],
						}
					},
                    {
                        text: '<button class="btn btn-lg btn-outline-primary"><i class="fa fa-print"></i> بارگزاری Excel</button>',
						className: 'bg-transparent',
                        title: '',
						action: function ( e, dt, node, config ) {
                            location.replace("{% url 'documents:import' document_type='Tech' %}")
                        }
					}
				]
			});

		});

		$('#producer').on('keyup', function () {
                table.column(4).search(this.value).draw();
		});
		$('#center').on('keyup', function () {
			table.column(11).search(this.value).draw();
		});
		$('#start_date').on('keyup', function () {
			table.column(7).search(this.value).draw();
		});

		$('#delete-modal').on('show.bs.modal', function (e) {
			id = $(e.relatedTarget).data('cid');
			tr = $('#c-tr-' + id);
			$('#delete-name').text(tr.find("td:eq(1)").text());
			delete_url = "{% url 'documents:tech_delete' pk=0 %}";
			$('#delete-form').attr('action', delete_url + id);
		});

		// this is the id of the form
		$("#delete-form").submit(function (e) {
			var form = $(this);
			var url = form.attr('action');

			$.ajax({
				type: "POST",
				url: url,
				data: form.serialize(), // serializes the form's elements.
				success: function (data) {
					location.reload();
				}
			});
			e.preventDefault(); // avoid to execute the actual submit of the form.
		});
	</script>
{% endblock %}

