{% extends 'empty_base.html' %}
{% load staticfiles %}{% load widget_tweaks %}{% load i18n %}

{% block title %}بازیابی کلمه عبور{% endblock %}

{% block content %}
	<div class="middle-box animated fadeInDown">
		{% if validlink %}
			<h2 class="text-center"><strong>بازیابی کلمه عبور</strong></h2>
            <div><br></div>
			<form method="post">
				{% csrf_token %}
				{{ form.as_p }}
            <div class="text-center">
                <button type="submit" class="btn btn-outline-primary">بازیابی</button>
            </div>
			</form>
		{% else %}
			<p>
				لینک بازیابی کلمه عبور نامعتبر است.احتمالا از قبل استفاده شده. لطفا مجددا درخواست <دهید class=""></دهید>
			</p>
		{% endif %}
	</div>
{% endblock %}
