{% extends 'empty_base.html' %}
{% load staticfiles %}{% load widget_tweaks %}{% load i18n %}

{% block title %}بازیابی کلمه عبور{% endblock %}

{% block content %}
	<div class="text-right middle-box animated fadeInDown">
		<p>
			به ایمیل وارد شده دستورالعمل بازیابی کلمه عبور ارسال شده است. اگر چنین ایمیلی وجود داشته باشد به زودی آن را دریافت خواهید کرد.
		</p>
		<p>
			اگر ایمیلی دریافت نکردید لطفا مطمئن شوید که ایمیلی که با آن ثبت نام کردید را وارد کرده باشید و یا اینکه فولدر اسپم ایمیل های دریافتی خود را چک کنید.
		</p>
	</div>
{% endblock %}