{% load jalali_date %}
{% load static %}
{% load humanize %}

{% if form.errors %}
    <div class="card col-md-12 text-center" style="color: whitesmoke;background-color: lightcoral">
    {% for field in form %}
        {% for error in field.errors %}
        <h1> {{ field.name }}: {{ error }} </h1>
    {% endfor %}
    {% endfor %}
    </div>
{% endif %}
{% for error in form.non_field_errors %}
    <div class="card col-md-12 text-center" style="color: whitesmoke;background-color: lightcoral">
    <h1> {{ error }} </h1>
    </div>
{% endfor %}

<form id="form-attach-{% if obj.task %}sub{% endif %}task-{{ obj.id }}" class="m-t" role="form" method="post" action="{% if obj.task %}{% url 'centers:subtask_attach_create' pk=obj.id %}{% else %}{% url 'centers:task_attach_create' pk=obj.id %}{% endif %}" enctype="multipart/form-data">
{% csrf_token %}
    <div class="row">
        <input type="text" class="form-control d-none" value="{{ obj.id }}" aria-describedby="name_label" name="{% if obj.task %}sub{% endif %}task_id">
        <div class="input-group mb-2">
              <div class="custom-file">
                <label id="{% if obj.task %}sub{% endif %}task-attach-{{ obj.id }}-label" class="custom-file-label text-left" for="{% if obj.task %}sub{% endif %}task-attach-{{ obj.id }}"></label>
                  <input type="file" class="custom-file-input" name="file" id="{% if obj.task %}sub{% endif %}task-attach-{{ obj.id }}">
              </div>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-append">
                <span class="input-group-text" id="description_label">توضیحات: </span>
            </div>
            <textarea name="description" type="text" class="form-control" id="description" aria-describedby="description_label"></textarea>
        </div>
        <button type="submit" id="#attach-{% if obj.task %}sub{% endif %}task-{{ obj.id }}" class="btn btn-lg btn-outline-primary"><i class="fa fa-plus"></i> افزودن</button>
    </div>
</form>

<script>
document.getElementById( '{% if obj.task %}sub{% endif %}task-attach-{{ obj.id }}' ).addEventListener( 'change', showFileName_attach  );
function showFileName_attach ( event ) {
  var input = event.srcElement;
  var fileName = input.files[0].name;
  document.getElementById( '{% if obj.task %}sub{% endif %}task-attach-{{ obj.id }}-label' ).textContent = fileName.substring(fileName.length - 20, fileName.length);
}
</script>