{% load jalali_date %}
{% load static %}
{% load humanize %}
{% load helper_filter %}

<li ondblclick="$('#edit-subtask-{{ obj.id }}').modal();" class="{{ color }}-element" style="background-color: lightyellow" id="subtask-{{ obj.id }}-{{ obj.status }}">
{% has_perms user 'project;' as has_project_perm %}{% has_perms user 'center;' as has_center_perm %}{% if user.is_superuser or has_project_perm or has_center_perm %} <i class="fa fa-trash-alt" style="color: red" onclick="$('#delete-modal-subtask-{{ obj.id }}').modal();"></i>{% endif %} <span><i class="fa fa-reply"></i> ({{ obj.task.name }})</span>
<h5>{{ obj.name }}</h5>
<div class="row agile-detail">
    <div class="col-md-6 text-right">
    {% if obj.employee %}
            <img class="rounded-circle img-avatar" style="height: 30px;width: 30px" src="{% if obj.employee.avatar %}{{ obj.employee.avatar.url }}{% else %}{% static 'img/user.png' %}{% endif %}">
    {% endif %}
    </div>
    <div class="col-md-6 text-left">
        {% if obj.to_be_finished %}
            {% if obj.to_be_finished < now %}
                <span style="color: green">{{ obj.to_be_finished | j_format_date:"%Y/%m/%d" }} <i class="fa fa-clock"></i></span>
                {% else %}
                <span style="color: red">{{ obj.to_be_finished | j_format_date:"%Y/%m/%d" }} <i class="fa fa-clock"></i></span>
                {% endif %}
        {% endif %}
    </div>
</div>
</li>

<div class="modal fade" id="edit-subtask-{{ obj.id }}">
    <div class="modal-xl modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <div class="col-lg-1 text-right">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="col-lg-4 text-right">
                <span><i class="fa fa-reply"></i> ({{ obj.task.name }})</span>
                <h3>{{ obj.name }}</h3>
            </div>
            <div class="col-lg-3 text-center">
                {% if obj.started_at %}
                <h5><i class="fa fa-clock"></i> شروع: {{ obj.started_at | j_format_date:"%Y/%m/%d %H:%M" }}</h5>
                {% if obj.finished_at %}
                <h5><i class="fa fa-clock"></i> پایان: {{ obj.finished_at | j_format_date:"%Y/%m/%d %H:%M" }}</h5>
                {% endif %}
                {% endif %}
            </div>
            <div class="col-lg-3 text-left">
                <h5>{{ obj.employee }}</h5>
                <span>{{ obj.employee.get_user_role_display }}</span>
            </div>
            <div class="col-lg-1">
                <img class="rounded-circle img-avatar" style="height: 55px;width: 55px" src="{% if obj.employee.avatar %}{{ obj.employee.avatar.url }}{% else %}{% static 'img/user.png' %}{% endif %}">
            </div>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="modal-{{ obj.id }}">
                {% include 'tasks/subtask_form.html' %}
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="delete-modal-subtask-{{ obj.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="exampleModalLabel">حذف {{ obj.name }}</h5>
            </div>
            <form method="post" id="delete-form-subtask-{{ obj.id }}" action="{% if obj.task %}{% url 'centers:subtask_delete' pk=obj.id %}{% else %}{% url 'centers:task_delete' pk=obj.id %}{% endif %}">
                {% csrf_token %}
                <div class="modal-body">
                    <p class="float-left">
                        آیا واقعا می خواهید
                        <code>
                            <strong id="delete-name">{{ obj.name }}</strong>
                        </code>
                        را حذف کنید؟
                    </p>
                </div>
                <div class="modal-footer float-right">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
                    <button type="submit" class="btn btn-danger">حذف</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
    $("#update-subtask-{{ obj.id }}").modalForm({
            formURL: "{% url 'centers:subtask_update' pk=obj.id %}"
        });
    });

    $("#delete-form-subtask-{{ obj.id }}").submit(function (e) {
			var form = $(this);
			var url = form.attr('action');

			$.ajax({
				type: "POST",
				url: url,
				data: form.serialize(), // serializes the form's elements.
				success: function (data) {
					location.reload();
				}
			});
			e.preventDefault(); // avoid to execute the actual submit of the form.
		});

        var sub_status_{{ obj.id }} = {{ obj.status }};

        var edit_sub_select_status_{{ obj.id }} = $("#edit-sub-status-{{ obj.id }}").select2({
                theme: 'bootstrap4',
        });
        edit_sub_select_status_{{ obj.id }}.val("{{ obj.status }}").trigger("change");

        var edit_sub_employee_{{ obj.id }} = $("#edit-sub-employee-{{ obj.id }}").select2({
                theme: 'bootstrap4',
        });
        edit_sub_employee_{{ obj.id }}.val("{{ obj.employee.id }}").trigger("change");

</script>