{% extends 'base.html' %}{% load static %}
{% load humanize %}
{% load jalali_date %}

{% block last-header %}
    <script src="{% static  'vendors/select2/js/select2.full.min.js' %}" xmlns="http://www.w3.org/1999/html"></script>
	<link href="{% static  'vendors/select2/css/select2.min.css' %}" rel="stylesheet">
	<link href="{% static  'vendors/select2/css/select2-bootstrap4.min.css' %}" rel="stylesheet">

    <style>
        .circle-img {
          width: 200px;
          height: 200px;
          overflow: hidden;
        }

        .circle-img img {
          height: 100%;
          transform: translateX(-50%);
          margin-left: 50%;
        }


        span.required:before { content: '*'; color: #FF0000; }

    </style>

{% endblock %}

{% block head_title %}جزئیات کاربر{% endblock %}


{% block title-breadcrumb %}
	<div class="col-md-9">
    <br>
    <br>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a>مدیریت دانش</a>
			</li>
			<li class="breadcrumb-item">
                <a href="{% url 'accounts:profile_list' %}" >لیست کاربران</a>
			</li>
			<li class="breadcrumb-item active">
				{% if title == 'update' %}
                    <a href="{% url 'accounts:profile_update' object.id %}"><strong>ویرایش {{ object.user.username }}</strong></a>
                {% else %}
                    <a href="{% url 'accounts:profile_create' %}"><strong>افزودن کاربر جدید</strong></a>
                {% endif %}
			</li>
		</ol>
	</div>

	<div class="col-md-3">
    {% if title == 'update' %}
		<div class="title-action float-right">
            <div class="btn-group">
                <button  class="btn btn-sm btn-outline-warning m-l-sm" onclick="$('#pass-change').modal();"><i
                                            class="fa fa-lock"></i> تغییر رمز عبور
                </button>
                <button data-toggle="modal" data-delete-what="{{ object.id }}" data-target="#delete-modal" class="btn btn-lg btn-outline-danger"><i class="fa fa-trash"></i> حذف </button>
            </div>
			</div>
        <div class="modal fade" id="pass-change">
            <div class="modal-sm modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h2 class="modal-title">تغییر رمز عبور {{ obj.user.username }}</h2>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="col-lg-12 text-center">
                            <input type="password" id="password" placeholder="رمز عبور جدید را وارد نمایید.">
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <div class="btn-group">
                            <button onclick="change_password({{ object.id }});" class="btn btn-outline-success" ><i class="fa small fa-check"></i> تغییر</button>
                            <button type="button" class="btn btn-outline-danger " data-dismiss="modal"><i class="fa small fa-times"></i> انصراف</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
	</div>
{% endblock %}

{% block content %}
    {% if form.errors %}
    <div class="card col-md-12 text-center" style="color: whitesmoke;background-color: lightcoral">
    {% for field in form %}
        {% for error in field.errors %}
        <h1> {{ error }} </h1>
    {% endfor %}
    {% endfor %}
    </div>
    {% endif %}
    {% for error in form.non_field_errors %}
    <div class="card col-md-12 text-center" style="color: whitesmoke;background-color: lightcoral">
    <h1> {{ error }} </h1>
    </div>
    {% endfor %}
    <div class="col-lg-12">
        <form class="m-t" role="form" method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="col-lg-3 text-center">
                <div class="col-lg-12 text-center">
                    <div><br></div>
                    <img id="imageResult" class="img-thumbnail circle-img img-circle" src="{% if object.avatar %}{{ object.avatar.url }}{% else %}{% static 'img/user.png' %}{% endif %}">
                    <div><br></div>
                    <div class="input-group mb-3">
                      <div class="custom-file">
                        <label id="avatar_label" class="custom-file-label text-left" for="avatar"></label>
                          <input type="file" class="custom-file-input" name="avatar" id="avatar" onchange="readURL(this);">
                      </div>
                    </div>
                </div>
            </div>
            <div class="card col-lg-9">
                <div><br></div>
                {% if title == 'create' %}
                <div class="input-group mb-2">
                  <div class="input-group-append">
                    <span class="input-group-text required" id="username_label">نام کاربری: </span>
                  </div>
                    <input type="text" class="form-control" name="username" value="" autocomplete="new-password" aria-describedby="username_label">
                </div>
                {% endif %}
                <div class="input-group mb-2">
                  <div class="input-group-append">
                    <span class="input-group-text required" id="first_name_label">نام: </span>
                  </div>
                  <input type="text" class="form-control"  value="{{ object.user.first_name }}" name="first_name" aria-describedby="first_name_label">
                </div>
                <div class="input-group mb-2">
                  <div class="input-group-append">
                    <span class="input-group-text required" id="last_name_label">نام خانوادگی: </span>
                  </div>
                  <input type="text" class="form-control"  value="{{ object.user.last_name }}" name="last_name" aria-describedby="last_name_label">
                </div>
                <div class="input-group mb-2">
                  <div class="input-group-append">
                    <span class="input-group-text required" id="email_label">ایمیل: </span>
                  </div>
                    <input type="email" class="form-control"  value="{{ object.user.email }}" name="email" aria-describedby="email_label">
                </div>
            {% if allowed_to_change_permissions %}
                <div class="input-group mb-2">
                  <div class="input-group-append">
                    <span class="input-group-text" id="permissions_lable">دسترسی ها: </span>
                  </div>
                  <select id="permissions_name" class="select2 form-control" name="permissions" aria-describedby="permissions_lable">
                        {% for obj in permissions %}
                                <option value="{{ obj.id }}">{{ obj.get_code_display }}</option>
                        {% endfor %}
                  </select>
                </div>
            {% endif %}
            {% if title == 'create' %}
                <div class="input-group mb-2">
                  <div class="input-group-append">
                    <span class="input-group-text required" id="password_label">رمز عبور: </span>
                  </div>
                    <input type="password" class="form-control" name="password" value="" autocomplete="new-password" aria-describedby="password_label">
                </div>
            {% endif %}
                <div class="input-group mb-2">
                  <div class="input-group-append">
                    <span class="input-group-text required" id="mobile_number_label">تلفن همراه: </span>
                  </div>
                  <input type="text" class="form-control"  value="{{ object.mobile_number }}" name="mobile_number" aria-describedby="mobile_number_label">
                </div>
                <div><br></div>
                <div class="btn-group float-right">
                    <button type="submit" class="btn btn-lg btn-outline-primary"><i class="fa fa-save"></i> ذخیره </button>
                </div>
                <div><br></div>
                </div>
        </form>
    </div>
    <div class="col-lg-12">
        <br>
        <br>
        <br>
        <br>
    </div>
	<!-- Delete Modal -->
	<div class="modal inmodal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">بستن</span>
					</button>
					<h5 class="modal-title" id="exampleModalLabel">حذف کاربر</h5>
				</div>
				<form method="post" id="delete-form" {% if title == 'update' %}action="{% url 'accounts:profile_delete' pk=object.id %}"{% endif %}>
					{% csrf_token %}
					<div class="modal-body">
						<p class="float-right">
							آیا واقعا می خواهید
							<code>
								<strong id="delete-name">{{ object.user.get_full_name }}</strong>
							</code>
							را حذف کنید؟
						</p>
					</div>
					<div class="modal-footer float-right">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
						<button type="submit" class="btn btn-danger">حذف</button>
					</div>
				</form>
			</div>
		</div>
	</div>


{% endblock %}

{% block scripts %}
	<script>
    var permissions = $("#permissions_name").select2({
                    theme: 'bootstrap4',
                    multiple: true,
                    placeholder: "دسترسی ها",
                    allowClear: true
            });
            vals = [];
            {% for obj in object.permissions.all %}
                vals.push("{{ obj.id }}");
            {% endfor %}
            permissions.val(vals).trigger("change");
    /*  ==========================================
        SHOW UPLOADED IMAGE
    * ========================================== */
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imageResult')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    $(function () {
        $('#avatar').on('change', function () {
            readURL(input);
        });
    });

    /*  ==========================================
        SHOW UPLOADED IMAGE NAME
    * ========================================== */
    var input = document.getElementById( 'avatar' );
    var infoArea = document.getElementById( 'avatar_label' );

    input.addEventListener( 'change', showFileName );
    function showFileName( event ) {
      var input = event.srcElement;
      var fileName = input.files[0].name;
      infoArea.textContent = fileName.substring(fileName.length - 20, fileName.length);
    }

    function change_password(id){
            $.ajax({
                url: "{% url 'documents:ajax' %}",
                data: {
                    'request_type': 'profile_password_change',
                    'new_password': $('#password').val(),
                    'profile_id': id,
                },
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    location.reload();
                }
            });
        }

		// this is the id of the form
		$("#delete-form").submit(function (e) {
			var form = $(this);
			var url = form.attr('action');

			$.ajax({
				type: "POST",
				url: url,
				data: form.serialize(), // serializes the form's elements.
				success: function (data) {
                    location.replace("{% url 'accounts:profile_list' %}");
				}
			});
			e.preventDefault(); // avoid to execute the actual submit of the form.
		});
	</script>
{% endblock %}

