{% load widget_tweaks %}
{#					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#provider_model" id="add_new_provider">#}
{#						<i class="fa fa-plus"></i>#}
{#					</button>#}
<div class="form-group form-row">
	{% if field.field.widget.input_type != 'checkbox' %}
		<label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label col-form-label-lg text-right">{{ field.label }} {% if field.field.required %}
			<span class="text-danger">*</span> {% endif %}</label>
		<div class="col-lg-9">
			{% if form.is_bound %}
				{% if field.errors %}
					{% render_field field class="form-control is-invalid col-9" %}
					{% if has_adder %}
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#id_{{ field.name }}_create_modal" id="add_new_{{ field.name }}">
							<i class="fa fa-plus"></i>
						</button>
					{% endif %}
					{% for error in field.errors %}
						<div class="invalid-feedback">
							{{ error }}
						</div>
					{% endfor %}
				{% else %}
					{% render_field field class="form-control is-valid col-9" %}
					{% if has_adder %}
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#id_{{ field.name }}_create_modal" id="add_new_{{ field.name }}">
							<i class="fa fa-plus"></i>
						</button>
					{% endif %}
				{% endif %}
			{% else %}
				{% render_field field class="form-control col-9" %}
				{% if has_adder %}
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#id_{{ field.name }}_create_modal" id="add_new_{{ field.name }}">
						<i class="fa fa-plus"></i>
					</button>
				{% endif %}
			{% endif %}

			{% if field.help_text %}
				<small class="form-text text-muted">{{ field.help_text }}</small>
			{% endif %}

		</div>
	{% else %}
		{% if form.is_bound %}
			{% if field.errors %}
				<div class="i-checks col-lg-6"><label class="col-form-label-lg"> {% render_field field class="is-invalid" %} <i></i> {{ field.label }} {% if field.field.required %}
					<span class="text-danger">*</span> {% endif %}</label></div>
				{% for error in field.errors %}
					<div class="invalid-feedback">
						{{ error }}
					</div>
				{% endfor %}
			{% else %}
				<div class="i-checks col-lg-6"><label class="col-form-label-lg"> {% render_field field class="is-valid" %} <i></i> {{ field.label }} {% if field.field.required %}
					<span class="text-danger">*</span> {% endif %}</label></div>
			{% endif %}
		{% else %}
			<div class="i-checks col-lg-6"><label class="col-form-label-lg"> {% render_field field %} <i></i> {{ field.label }} {% if field.field.required %}
				<span class="text-danger">*</span> {% endif %}</label></div>
		{% endif %}

		{% if field.help_text %}
			<small class="form-text text-muted">{{ field.help_text }}</small>
		{% endif %}
	{% endif %}

</div>
