{% load jalali_date %}
{% load static %}
{% load humanize %}


<div id="form-attach-error-container-{{ obj.id }}" class="col-lg-12 d-none">
    <div class="card col-md-12 text-center" style="color: whitesmoke;background-color: lightcoral">
        <h1 id="form-attach-error-{{ obj.id }}"></h1>
    </div>
</div>
<div class="col-lg-12">
    <div><br></div>
</div>
<form id="form-attach-{{ object.id }}" class="m-t" role="form" method="post" action="{% url 'documents:attach_create' pk=object.id %}" enctype="multipart/form-data">
{% csrf_token %}
    <div class="row">
        <input type="text" class="form-control d-none" value="{{ project_doc_type }}" aria-describedby="name_label" name="project_doc_type">
        <input type="text" class="form-control d-none" value="{{ object.id }}" aria-describedby="name_label" name="document_id">
        <div class="input-group mb-2">
              <div class="custom-file">
                <label id="attach-{{ object.id }}-label" class="custom-file-label text-left" for="attach-{{ object.id }}"></label>
                  <input type="file" class="custom-file-input" name="file" id="attach-{{ object.id }}">
              </div>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-append">
                <span class="input-group-text" id="description_label">توضیحات: </span>
            </div>
            <textarea name="description" type="text" class="form-control" id="description" aria-describedby="description_label" ></textarea>
        </div>
        <button type="submit" id="button-attach-{{ object.id }}" class="btn btn-lg btn-outline-primary"><i class="fa fa-plus"></i> افزودن</button>
    </div>
</form>

<script>
document.getElementById( 'attach-{{ object.id }}' ).addEventListener( 'change', showFileName_attach  );
function showFileName_attach ( event ) {
  var input = event.srcElement;
  var fileName = input.files[0].name;
  document.getElementById( 'attach-{{ object.id }}-label' ).textContent = fileName.substring(fileName.length - 20, fileName.length);
}

$('#form-attach-{{ object.id }}').submit(function (e) {
 if ($('#attach-{{ object.id }}').val() === '') {
     e.preventDefault();
     $('#form-attach-error-container-{{ obj.id }}').removeClass('d-none');
     $('#form-attach-error-{{ obj.id }}').text('هیچ فایلی انتخاب نشده است.');
 }
});
</script>