{% extends 'empty_base.html' %}
{% load staticfiles %}{% load widget_tweaks %}{% load i18n %}{% load jalali_date %}

{% block title %}خانه{% endblock %}

{% block content %}
    {%  has_perms user 'knowledge;' as has_knowledge_perm %}
    {%  has_perms user 'center;' as has_center_perm %}
    {%  has_perms user 'future;' as has_future_perm %}
    {%  has_perms user 'resume;' as has_resume_perm %}
	<div class="text-center animated fadeInDown" style="font-family: VazirFD">
        <div class="row">
            <div class="col-lg-2">
                <div>
                    <img src="{% static 'img/sepah_balck.png' %}" style="width: 200px;alignment: center"/>
                </div>
            </div>
            <div class="col-lg-8">
                <h1 style="font-family: 'B Nazanin';font-size: 50px;font-weight: bolder">سامانه جامع مدیریت یکپارچه علم و فناوری- سمیع</h1>
                <h1 style="font-family: 'B Nazanin';font-size: 40px;font-weight: bolder">سازمان تحقیقات و جهاد خودکفایی ندسا</h1>
                <button class="btn btn-lg btn-primary" style="width: 600px;"></button>
            </div>
            <div class="col-lg-2">
                <div>
                    <img src="{% static 'img/logo.png' %}" style="width: 230px; alignment: center"/>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-2">
            </div>
            {% if user.is_superuser or has_knowledge_perm %}
            <div class="col-lg-3 text-center" href="{% url 'documents:article_list' %}">
                <div class="text-center">
                    <a href="{% url 'documents:article_list' %}"><img src="{% static 'img/knowledge.png' %}" style="height: 350px; alignment: center"/></a>
                </div>
{#                <a href="{% url 'documents:article_list' %}"><h3>مدیریت دانش</h3></a>#}
            </div>
            {% endif %}
        <div class="col-lg-2">
            </div>
        {% if user.is_superuser or has_center_perm %}
            <div class="col-lg-3 text-center" href="{% url 'documents:project_list' %}">
                <div class="text-center">
                    <a href="{% url 'documents:core_list' %}"><img src="{% static 'img/development.png' %}" style="height: 350px; alignment: center"/></a>
                </div>
{#                <a href="{% url 'documents:core_list' %}"><h3>رشد، خلاقیت و نوآوری</h3></a>#}
            </div>
        {% endif %}
            <div class="col-lg-2">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
            </div>
            {% if user.is_superuser or has_future_perm %}
            <div class="col-lg-3 text-center" >
                <div class="text-center">
                    <a href="{% url 'documents:future_list' %}"><img src="{% static 'img/future.png' %}" style="height: 350px; alignment: center"/></a>
                </div>
{#                <a href="{% url 'documents:future_list' %}"><h3>آینده پژوهی و همکاری های علمی</h3></a>#}
            </div>
            {% endif %}
        <div class="col-lg-2">
            </div>
        {% if user.is_superuser or has_resume_perm %}
            <div class="col-lg-3 text-center" >
                <div class="text-center">
                    <a href="{% url 'documents:assessment_list' %}"><img src="{% static 'img/learning.png' %}" style="height: 350px; alignment: center"/></a>
                </div>
{#                <a href="{% url 'documents:assessment_list' %}"><h3>آموزش و امور محققین</h3></a>#}
            </div>
        {% endif %}
            <div class="col-lg-2">
            </div>
        </div>
	</div>
{% endblock %}
