{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load jalali_date %}

{% block last-header %}
    <style>
        .circle-img {
          width: 200px;
          height: 200px;
          overflow: hidden;
        }

        .circle-img img {
          height: 100%;
          transform: translateX(-50%);
          margin-left: 50%;
        }
    </style>

{% endblock %}

{% block head_title %}جزئیات مرکز{% endblock %}


{% block title-breadcrumb %}
	<div class="col-md-9">
    <br>
    <br>
		<ol class="breadcrumb">
            <li class="breadcrumb-item">
				<a>مدیریت دانش</a>
			</li>
			<li class="breadcrumb-item">
                <a  href="{% url 'documents:center_list' %}" >فهرست مراکز تحقیقاتی و مدیریت های ساتخ ندسا</a>
			</li>
			<li class="breadcrumb-item active">
				<a href="{% url 'documents:center_details' object.id %}"><strong>جزئیات مرکز {{ object.name }}</strong></a>
			</li>
		</ol>
	</div>

	<div class="col-md-3">
		<div class="title-action float-right">
            <div class="btn-group">
                <a href="{% url 'documents:center_update' pk=object.id %}" class="btn btn-lg btn-outline-warning"><i class="fa fa-user-circle"></i> ویرایش</a>
			    <button data-toggle="modal" data-delete-what="{{ object.id }}" data-target="#delete-modal" class="btn btn-lg btn-outline-danger"><i class="fa fa-trash"></i> حذف </button>
            </div>
        </div>
	</div>
{% endblock %}

{% block content %}
	<div class="row">
        <div class="col-lg-12">
			<div class="col-lg-3 text-center">
				<div><br></div>
                <img class="img-thumbnail circle-img img-circle" src="{% if object.avatar %}{{ object.avatar.url }}{% else %}{% static 'img/user.png' %}{% endif %}">
				<h1><strong>مشخصات</strong></h1>
			</div>
			<div class="card col-lg-9">
				<div><br></div>
				<h3><strong>عنوان: </strong>{{ object.title }}</h3>
				<h3><strong>کد: </strong>{{ object.code }}</h3>
				<div><br></div>
                                <h3><strong>آمار کلی تعداد</strong></h3>
                <div class="row">
                    <div class="col-lg-2">
                        <h3>مقاله:</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>{{ article_num }}</h3>
                    </div>
                    <div class="col-lg-2">
                        <h3>کتاب:</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>{{ book_num }}</h3>
                    </div>
                    <div class="col-lg-2">
                        <h3>سمینار:</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>{{ seminar_num }}</h3>
                    </div>
                    <div class="col-lg-2">
                        <h3>پایان نامه:</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>{{ thesis_num }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <h3>ایده:</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>{{ idea_num }}</h3>
                    </div>
                    <div class="col-lg-2">
                        <h3>تجربه:</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>{{ exp_num }}</h3>
                    </div>
                    <div class="col-lg-2">
                        <h3>دستورالعمل:</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>{{ manual_num }}</h3>
                    </div>
                    <div class="col-lg-2">
                        <h3>بازدید:</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>{{ visit_num }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <h3>احکام:</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>{{ order_num }}</h3>
                    </div>
                    <div class="col-lg-2">
                        <h3>گزارش:</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>{{ report_num }}</h3>
                    </div>
                    <div class="col-lg-2">
                        <h3>کنفرانس:</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>{{ conf_num }}</h3>
                    </div>
                    <div class="col-lg-2">
                        <h3>پروژه:</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>{{ project_num }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <h3>رزومه:</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>{{ resume_num }}</h3>
                    </div>
                </div>
                <div><br></div>
			</div>
		</div>
        <div class="col-lg-12">
			<div class="col-lg-3 text-center">
				<div><br></div>
				<i class="fa fa-cube fa-10x"></i>
				<h1><strong>دستاوردها</strong></h1>
			</div>
			<div class="card col-lg-9">
                <div class="table-responsive">
                    <br>
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th class="text-center" style="background-color: white;width: 7%">ردیف</th>
                            <th class="text-center" style="background-color: white">عنوان</th>
                            <th class="text-center" style="background-color: white">نوع</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for obj in object_list %}
                            <tr id="c-tr-{{ obj.id }}"style="background-color: whitesmoke">
                                <td class="align-middle text-center">{{ forloop.counter }}</td>
                                <td class="align-middle text-center">{% if obj.type == 'Assessment' %}{{ obj.producer.title }}{% else %}{{ obj.title }}{% endif %}</td>
                                <td class="align-middle text-center">{{ obj.get_type_display }}</td>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                        <tfoot>
                            <tr></tr>
                        </tfoot>
                    </table>
                </div>
                <div><br></div>
            </div>
		</div>
		<div class="col-lg-12">
			<div class="col-lg-3 text-center">
				<div><br></div>
				<i class="fa fa-file-alt fa-10x"></i>
				<h1><strong>پیوست</strong></h1>
			</div>
			<div class="card col-lg-9">
				<div><br></div>
				<div class="input-group mb-2">
					<div class="input-group-append">
						<span class="input-group-text" id="pay_label"><i class="fa fa-file"></i>فایل های پیوست</span>
					</div>
					<input readonly type="text" class="form-control" aria-describedby="name_label">
				</div>
				<br>
				{% if not object.attachments.all.exists %}
					<br>
					<p class="text-center">تاکنون فایلی پیوست نشده است.</p>
				{% endif %}
				<div class="row">
				{% for file in object.attachments.all %}
					<div class="col-lg-3">
						<br>
						<h5>فایل: {{ file.file|truncatechars:20 }}</h5>
						<h5>توضیحات: {{ file.description }}</h5>
						<div class="btn-group">
						<a href="{{ file.file.url }}" class="btn btn-sm btn-outline-primary">
							دانلود
							<i class="fa fa-download"></i>
						</a>
							<button data-toggle="modal" data-target="#delete-attach-modal-{{ file.id }}" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash-alt"></i> حذف </button>
						</div>
                        <div class="modal inmodal fade" id="delete-attach-modal-{{ file.id }}" tabindex="-1" role="dialog" aria-labelledby="file-exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            <span class="sr-only">بستن</span>
                                        </button>
                                        <h5 class="modal-title" id="file-exampleModalLabel">حذف پیوست</h5>
                                    </div>
                                    <div class="modal-body">
                                        <p class="float-right">
                                            آیا واقعا می خواهید فایل
                                            <code>
                                                <strong id="file-delete-name">{{ file.file }}</strong>
                                            </code>
                                            را حذف کنید؟
                                        </p>
                                    </div>
                                    <div class="modal-footer float-right">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
                                        <button type="button" onclick="attach_delete({{ file.id }})" class="btn btn-danger">حذف</button>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				{% endfor %}
				</div>
				<div><br></div>
                <div class="col-lg-12">
                <br>
                {% include 'attach_form.html' %}
                <div><br></div>
                </div>
			</div>

		</div>

    </div>
	<!-- Delete Modal -->
	<div class="modal inmodal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">بستن</span>
					</button>
					<h5 class="modal-title" id="exampleModalLabel">حذف مرکز</h5>
				</div>
				<form method="post" id="delete-form" action="{% url 'documents:center_delete' pk=object.id %}">
					{% csrf_token %}
					<div class="modal-body">
						<p class="float-right">
							آیا واقعا می خواهید مرکز
							<code>
								<strong id="delete-name">{{ object.title }}</strong>
							</code>
							را حذف کنید؟
						</p>
					</div>
					<div class="modal-footer float-right">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
						<button type="submit" class="btn btn-danger">حذف</button>
					</div>
				</form>
			</div>
		</div>
	</div>


{% endblock %}

{% block scripts %}
	<link href="{% static 'vendors/datatables/css/datatables.min.css' %}" rel="stylesheet">
	<script src="{% static 'vendors/datatables/js/datatables-document.min.js' %}"></script>
	<script src="{% static 'vendors/datatables/js/datatables.bootstrap4.min.js' %}"></script>

	<script>
        $(document).ready(function() {
            $("#attach-{{ object.id }}").modalForm({
                formURL: "{% url 'documents:attach_create' pk=object.id %}"
            });
        });
		var table;
        table = $('.dataTables-example').DataTable({
				pageLength: 25,
				responsive: true,
				dom: 'lTfgitp<"float-right"B>',
                buttons: [
					{
						extend: 'print',
                        pageSize: 'A4',
                        text: '<button class="btn btn-lg btn-outline-danger"><i class="fa fa-print"></i> خروجی PDF</button>',
						className: 'bg-transparent',
                        title: '',
						footer: true,
						exportOptions: {
							columns: [ 0, 1, 2 ],
							{#stripHtml: true#}
						},
                        customize: function (win) {
							$(win.document.body).addClass('white-bg');
							$(win.document.body).find('thead')
								.css('color', 'black')
								.css('font-family', 'VazirFD')
								.prepend("<tr><th colspan='3'>" +
									"<img src='http://127.0.0.1:8000/static/img/logo.png' class='float-left obj-fit-contain' style='position:relative;width:10%' />" +
									"<img src='http://127.0.0.1:8000/static/img/sepah_balck.png' class='float-right obj-fit-contain' style='position:relative;width:10%' />" +
									"<h2 class='text-center'>رزومه فعالیت های پژوهشی مرکز تحقیقات</h2>" +
									"<h3 class='text-center'>مدیریت دانش ساتخ ندسا</h3>" +
									"<br><br><br>" +
                                    "{% if object.avatar %}<img class='float-left img-thumbnail circle-img img-circle' src='http://127.0.0.1:8000{{ object.avatar.url }}'>{% endif %}" +
									"<h3><strong>عنوان: </strong>{{ object.title }}</h3>" +
									"<h3><strong>کد: </strong>{{ object.code }}</h3>" +
                                    "<br>" +
                                    "<h3><strong>آمار کلی تعداد</strong></h3>" +
                                    "<h3>مقاله: {{ article_num }} , کتاب: {{ book_num }} , سمینار: {{ seminar_num }} , پایان نامه: {{ thesis_num }}</h3>" +
                                    "<h3>ایده: {{ idea_num }} , تجربه: {{ exp_num }} , دستورالعمل: {{ manual_num }} , بازدید: {{ visit_num }}</h3>" +
                                    "<h3>احکام: {{ order_num }} , گزارش: {{ report_num }} , کنفرانس: {{ conf_num }} , پروژه: {{ project_num }}</h3>" +
                                    "<h3>رزومه: {{ resume_num }}</h3>" +
                                    "<br>" +
                                    "</th>" +
									"</tr>");

							$(win.document.body).find('table')
								.addClass('compact')
								.css('font-size', 'inherit')
								.css('color', 'black')
								.css('border-color', 'transparent')
								.css('font-family', 'VazirFD')
                                .append(
                                    "<tr>" +
                                    "<th colspan='3'>" +
                                    "<br><br><br>" +
                                    "<div class='text-center' >مدیر دانش ساتخ ندسا</div" +
                                    "<br><br><br>" +
                                    "</th>" +
                                    "<tr>"
                                )
						}
					},
                    {
						extend: 'excelHtml5',
                        text: '<button class="btn btn-lg btn-outline-success"><i class="fa fa-print"></i> خروجی Excel</button>',
						className: 'bg-transparent',
                        title: '',
						filename: 'center',
						exportOptions: {
							columns: [ 1, 2],
						}
					}
				]
			});
		// this is the id of the form
		$("#delete-form").submit(function (e) {
			var form = $(this);
			var url = form.attr('action');

			$.ajax({
				type: "POST",
				url: url,
				data: form.serialize(), // serializes the form's elements.
				success: function (data) {
                    location.replace("{% url 'documents:center_list' %}");
				}
			});
			e.preventDefault(); // avoid to execute the actual submit of the form.
		});

        function attach_delete(id) {
            $.ajax({
                url: "{% url 'documents:ajax' %}",
                data: {
                    'request_type': 'delete_attachment',
                    'attachment_id': `${id}`,
                },
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    location.reload();
                }
            });
        }
	</script>
{% endblock %}

