{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load jalali_date %}

{% block last-header %}
    <style>
        .circle-img {
          width: 200px;
          height: 200px;
          overflow: hidden;
        }

        .circle-img img {
          height: 100%;
          transform: translateX(-50%);
          margin-left: 50%;
        }
    </style>

{% endblock %}

{% block head_title %}جزئیات مرکز{% endblock %}


{% block title-breadcrumb %}
	<div class="col-md-9">
    <br>
    <br>
		<ol class="breadcrumb">
            <li class="breadcrumb-item">
				<a>مدیریت دانش</a>
			</li>
			<li class="breadcrumb-item">
                <a  href="{% url 'documents:center_list' %}" >فهرست مراکز تحقیقاتی و مدیریت های ساتخ ندسا</a>
			</li>
			<li class="breadcrumb-item active">
				<a href="{% url 'documents:center_details' object.id %}"><strong>جزئیات مرکز {{ object.name }}</strong></a>
			</li>
		</ol>
	</div>

	<div class="col-md-3">
		<div class="title-action float-right">
            <div class="btn-group">
                <a href="{% url 'documents:center_update' pk=object.id %}" class="btn btn-lg btn-outline-warning"><i class="fa fa-user-circle"></i> ویرایش</a>
			    <button data-toggle="modal" data-delete-what="{{ object.id }}" data-target="#delete-modal" class="btn btn-lg btn-outline-danger"><i class="fa fa-trash"></i> حذف </button>
            </div>
        </div>
	</div>
{% endblock %}

{% block content %}
	<div class="row">
        <div class="col-lg-12">
			<div class="col-lg-3 text-center">
				<div><br></div>
                <img class="img-thumbnail circle-img img-circle" src="{% if object.avatar %}{{ object.avatar.url }}{% else %}{% static 'img/user.png' %}{% endif %}">
				<h1><strong>مشخصات</strong></h1>
			</div>
			<div class="card col-lg-9">
				<div><br></div>
				<h3><strong>عنوان: </strong>{{ object.title }}</h3>
				<h3><strong>کد: </strong>{{ object.code }}</h3>
				<div><br></div>
                <h3><strong>آمار کلی تعداد</strong></h3>
                <div class="row">
                    <div class="col-lg-2">
                        <h3>مقاله:</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>{{ article_num }}</h3>
                    </div>
                    <div class="col-lg-2">
                        <h3>کتاب:</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>{{ book_num }}</h3>
                    </div>
                    <div class="col-lg-2">
                        <h3>سمینار:</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>{{ seminar_num }}</h3>
                    </div>
                    <div class="col-lg-2">
                        <h3>ثبت اختراع:</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>{{ inv_num }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <h3>ایده:</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>{{ idea_num }}</h3>
                    </div>
                    <div class="col-lg-2">
                        <h3>تجربه:</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>{{ exp_num }}</h3>
                    </div>
                    <div class="col-lg-2">
                        <h3>دستورالعمل:</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>{{ manual_num }}</h3>
                    </div>
                    <div class="col-lg-2">
                        <h3>دوره/کارگاه آموزشی:</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>{{ workshop_num }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <h3>گزارش:</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>{{ report_num }}</h3>
                    </div>
                    <div class="col-lg-2">
                        <h3>کمیته داوران:</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>{{ order_num }}</h3>
                    </div>
                    <div class="col-lg-2">
                        <h3>پروژه:</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>{{ project_num }}</h3>
                    </div>
                    <div class="col-lg-3">
                    </div>
                </div>
                <div><br></div>
			</div>
		</div>
        <div class="col-lg-12">
			<div class="col-lg-3 text-center">
				<div><br></div>
				<i class="fa fa-cube fa-10x"></i>
				<h1><strong>دستاوردها</strong></h1>
			</div>
			<div class="card col-lg-9">
                <div class="table-responsive">
                    <br>
                    <table class="table table-striped table-bordered table-hover dataTables-example" id="achievments">
                        <thead>
                        <tr>
                            <th class="text-center" style="background-color: white;width: 7%">ردیف</th>
                            <th class="text-center" style="background-color: white">محقق</th>
                            <th class="text-center" style="background-color: white">مقاله</th>
                            <th class="text-center" style="background-color: white">کتاب</th>
                            <th class="text-center" style="background-color: white">ثبت اختراع</th>
                            <th class="text-center" style="background-color: white">ایده</th>
                            <th class="text-center" style="background-color: white">تجربه</th>
                            <th class="text-center" style="background-color: white">دستورالعمل</th>
                            <th class="text-center" style="background-color: white">پروژه</th>
                            <th class="text-center" style="background-color: white">سمینار</th>
                            <th class="text-center" style="background-color: white">گزارش</th>
                            <th class="text-center" style="background-color: white">کارگاه</th>
                            <th class="text-center" style="background-color: white">کمیته داوران</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for title, articles, books, inventions, ideas, experiences, manuals, projects, seminars, reports, workshops,orders in object_list %}
                            <tr id="c-tr-{{ obj.id }}" style="background-color: whitesmoke">
                                <td class="align-middle text-center">{{ forloop.counter }}</td>
                                <td class="align-middle text-center">{{ title }}</td>
                                <td class="align-middle text-center">{{ articles }}</td>
                                <td class="align-middle text-center">{{ books }}</td>
                                <td class="align-middle text-center">{{ inventions }}</td>
                                <td class="align-middle text-center">{{ ideas }}</td>
                                <td class="align-middle text-center">{{ experiences }}</td>
                                <td class="align-middle text-center">{{ manuals }}</td>
                                <td class="align-middle text-center">{{ projects }}</td>
                                <td class="align-middle text-center">{{ seminars }}</td>
                                <td class="align-middle text-center">{{ reports }}</td>
                                <td class="align-middle text-center">{{ workshops }}</td>
                                <td class="align-middle text-center">{{ orders }}</td>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                        <tfoot>
                            <tr></tr>
                        </tfoot>
                    </table>
                </div>
                <div><br></div>
            </div>
		</div>

		<div class="col-lg-12">
			<div class="col-lg-3 text-center">
				<div><br></div>
				<i class="fa fa-file-alt fa-10x"></i>
				<h1><strong>پیوست</strong></h1>
			</div>
			<div class="card col-lg-9">
				<div><br></div>
				<div class="input-group mb-2">
					<div class="input-group-append">
						<span class="input-group-text" id="pay_label"><i class="fa fa-file"></i>فایل های پیوست</span>
					</div>
					<input readonly type="text" class="form-control" aria-describedby="name_label">
				</div>
				<br>
				{% if not object.attachments.all.exists %}
					<br>
					<p class="text-center">تاکنون فایلی پیوست نشده است.</p>
				{% endif %}
				<div class="row">
				{% for file in object.attachments.all %}
					<div class="col-lg-3">
						<br>
						<h5>فایل: {{ file.file|truncatechars:20 }}</h5>
						<h5>توضیحات: {{ file.description }}</h5>
						<div class="btn-group">
						<a href="{{ file.file.url }}" class="btn btn-sm btn-outline-primary">
							دانلود
							<i class="fa fa-download"></i>
						</a>
							<button data-toggle="modal" data-target="#delete-attach-modal-{{ file.id }}" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash-alt"></i> حذف </button>
						</div>
                        <div class="modal inmodal fade" id="delete-attach-modal-{{ file.id }}" tabindex="-1" role="dialog" aria-labelledby="file-exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            <span class="sr-only">بستن</span>
                                        </button>
                                        <h5 class="modal-title" id="file-exampleModalLabel">حذف پیوست</h5>
                                    </div>
                                    <div class="modal-body">
                                        <p class="float-right">
                                            آیا واقعا می خواهید فایل
                                            <code>
                                                <strong id="file-delete-name">{{ file.file }}</strong>
                                            </code>
                                            را حذف کنید؟
                                        </p>
                                    </div>
                                    <div class="modal-footer float-right">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
                                        <button type="button" onclick="attach_delete({{ file.id }})" class="btn btn-danger">حذف</button>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				{% endfor %}
				</div>
				<div><br></div>
                <div class="col-lg-12">
                <br>
                {% include 'attach_form.html' %}
                <div><br></div>
                </div>
			</div>

		</div>

    </div>
	<!-- Delete Modal -->
	<div class="modal inmodal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">بستن</span>
					</button>
					<h5 class="modal-title" id="exampleModalLabel">حذف مرکز</h5>
				</div>
				<form method="post" id="delete-form" action="{% url 'documents:center_delete' pk=object.id %}">
					{% csrf_token %}
					<div class="modal-body">
						<p class="float-right">
							آیا واقعا می خواهید مرکز
							<code>
								<strong id="delete-name">{{ object.title }}</strong>
							</code>
							را حذف کنید؟
						</p>
					</div>
					<div class="modal-footer float-right">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
						<button type="submit" class="btn btn-danger">حذف</button>
					</div>
				</form>
			</div>
		</div>
	</div>


{% endblock %}

{% block scripts %}
	<link href="{% static 'vendors/datatables/css/datatables.min.css' %}" rel="stylesheet">
	<script src="{% static 'vendors/datatables/js/datatables-document.min.js' %}"></script>
	<script src="{% static 'vendors/datatables/js/datatables.bootstrap4.min.js' %}"></script>

	<script>
        $(document).ready(function() {
            $("#attach-{{ object.id }}").modalForm({
                formURL: "{% url 'documents:attach_create' pk=object.id %}"
            });
        });
		var table;
        table = $('#achievments').DataTable({
				pageLength: 100,
				responsive: true,
				dom: 'lTfgitp<"float-right"B>',
                buttons: [
					{
						extend: 'print',
                        pageSize: 'A4',
                        text: '<button class="btn btn-lg btn-outline-danger"><i class="fa fa-print"></i> خروجی PDF</button>',
						className: 'bg-transparent',
                        title: '',

						exportOptions: {
							columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 ],
							{#stripHtml: true#}
						},
                        customize: function (win) {
							$(win.document.body).addClass('white-bg');
                            $(win.document.body).find('tbody')
                                .html('');
							$(win.document.body).find('thead')
								.html('')
                                .addClass('compact')
								.css('border-color', 'transparent')
								.css('color', 'black')
								.css('font-family', 'VazirFD')
								.append("<tr>" +
                                    "<th colspan='5'>" +
									"<img src='http://127.0.0.1:8000/static/img/logo.png' class='float-left obj-fit-contain' style='position:relative;width:15%' />" +
									"<img src='http://127.0.0.1:8000/static/img/sepah_balck.png' class='float-right obj-fit-contain' style='position:relative;width:15%' />" +
                                    "<h2 class='text-center'>رزومه فعالیت های پژوهشی مرکز تحقیقات</h2>" +
									"<h3 class='text-center'>مدیریت دانش ساتخ ندسا</h3>" +
									"<br><br><br>" +
                                    "</th>" +
                                    "</tr>")
                                .append("<tr>" +
                                    "<th colspan='5'>" +
                                    "<div class='col-lg-12' >" +
                                    "{% if object.avatar %}<img class='float-left img-thumbnail circle-img img-circle' src='http://127.0.0.1:8000{{ object.avatar.url }}'>{% endif %}" +
                                    "<h2><strong>عنوان: </strong>{{ object.title }}</h2>" +
									"<h2><strong>کد: </strong>{{ object.code }}</h2>" +
                                    "<br><br><br>" +
                                    "</div>" +
                                    "<br><br><br>" +
                                    "</th>" +
                                    "</tr>")
                                .append("<tr>" +
                                    "<th colspan='5'>" +
                                    "<div class='col-lg-12' >" +
                                    "<div class='col-lg-4 resume_title_purple' style='background-color: blue;' >" +
                                    "<h2><strong> در یک نگاه</strong></h2>" +
                                    "</div>" +
                                    "<br>" +
                                    "<div class='table-responsive'>" +
                                    "<table class='table table-striped table-bordered table-hover dataTables-example'>" +
                                    "<thead>" +
                                    "<tr>" +
                                    "<th class='text-center' style='background-color: grey; width: 7%'>ردیف</th>" +
                                    "<th class='text-center' style='background-color: grey'>عنوان</th>" +
                                    "<th class='text-center' style='background-color: grey'>تعداد</th>" +
                                    "<th class='text-center' style='background-color: grey'>پیوست</th>" +
                                    "</tr>" +
                                    "</thead>" +
                                    "<tbody>" +
                                    "<tr>" +
                                    "<td class='align-middle text-center'>۱</td>" +
                                    "<td class='align-middle text-center'>مقالات</td>" +
                                    "<td class='align-middle text-center'>{{ article_num }}</td>" +
                                    "<td class='align-middle text-center'>{% if article_has_attachments %}دارد{% else %}ندارد{% endif %}</td>" +
                                    "</tr>" +
                                    "<tr>" +
                                    "<td class='align-middle text-center'>۲</td>" +
                                    "<td class='align-middle text-center'>کتاب</td>" +
                                    "<td class='align-middle text-center'>{{ book_num }}</td>" +
                                    "<td class='align-middle text-center'>{% if book_has_attachments %}دارد{% else %}ندارد{% endif %}</td>" +
                                    "</tr>" +
                                    "<tr>" +
                                    "<td class='align-middle text-center'>۳</td>" +
                                    "<td class='align-middle text-center'>سمینار</td>" +
                                    "<td class='align-middle text-center'>{{ seminar_num }}</td>" +
                                    "<td class='align-middle text-center'>{% if seminar_has_attachments %}دارد{% else %}ندارد{% endif %}</td>" +
                                    "</tr>" +
                                    "<tr>" +
                                    "<td class='align-middle text-center'>۵</td>" +
                                    "<td class='align-middle text-center'>ایده پردازی</td>" +
                                    "<td class='align-middle text-center'>{{ idea_num }}</td>" +
                                    "<td class='align-middle text-center'>{% if idea_has_attachments %}دارد{% else %}ندارد{% endif %}</td>" +
                                    "</tr>" +
                                    "<tr>" +
                                    "<td class='align-middle text-center'>۶</td>" +
                                    "<td class='align-middle text-center'>تجربه نگاری</td>" +
                                    "<td class='align-middle text-center'>{{ exp_num }}</td>" +
                                    "<td class='align-middle text-center'>{% if exp_has_attachments %}دارد{% else %}ندارد{% endif %}</td>" +
                                    "</tr>" +
                                    "<tr>" +
                                    "<td class='align-middle text-center'>۷</td>" +
                                    "<td class='align-middle text-center'>دستورالعمل</td>" +
                                    "<td class='align-middle text-center'>{{ manual_num }}</td>" +
                                    "<td class='align-middle text-center'>{% if manual_has_attachments %}دارد{% else %}ندارد{% endif %}</td>" +
                                    "</tr>" +
                                    "<tr>" +
                                    "<td class='align-middle text-center'>۸</td>" +
                                    "<td class='align-middle text-center'>کمیته داوران</td>" +
                                    "<td class='align-middle text-center'>{{ order_num }}</td>" +
                                    "<td class='align-middle text-center'>{% if order_has_attachments %}دارد{% else %}ندارد{% endif %}</td>" +
                                    "</tr>" +
                                    "<tr>" +
                                    "<td class='align-middle text-center'>۹</td>" +
                                    "<td class='align-middle text-center'>گزارشات فنی</td>" +
                                    "<td class='align-middle text-center'>{{ report_num }}</td>" +
                                    "<td class='align-middle text-center'>{% if report_has_attachments %}دارد{% else %}ندارد{% endif %}</td>" +
                                    "</tr>" +
                                    "<tr>" +
                                    "<td class='align-middle text-center'>۱۰</td>" +
                                    "<td class='align-middle text-center'>پروژه خاتمه یافته</td>" +
                                    "<td class='align-middle text-center'>{{ project_num }}</td>" +
                                    "<td class='align-middle text-center'>{% if project_has_attachments %}دارد{% else %}ندارد{% endif %}</td>" +
                                    "</tr>" +
                                    "<tr>" +
                                    "<td class='align-middle text-center'>۱۱</td>" +
                                    "<td class='align-middle text-center'>دوره/ کارگاه آموزشی</td>" +
                                    "<td class='align-middle text-center'>{{ workshop_num }}</td>" +
                                    "<td class='align-middle text-center'>{% if workshop_has_attachments %}دارد{% else %}ندارد{% endif %}</td>" +
                                    "</tr>" +
                                    "<tr>" +
                                    "<td class='align-middle text-center'>۱۲</td>" +
                                    "<td class='align-middle text-center'>ثبت اختراع</td>" +
                                    "<td class='align-middle text-center'>{{ invention_num }}</td>" +
                                    "<td class='align-middle text-center'>{% if invention_has_attachments %}دارد{% else %}ندارد{% endif %}</td>" +
                                    "</tr>" +
                                    "</tbody>" +
                                    "</table>" +
                                    "</div>" +
                                    "<br><br><br>" +
                                    "</th>" +
                                    "</tr>")
                                .append("<tr>" +
                                    "<th colspan='5'>" +
                                    "<div class='col-lg-12' >" +
                                    "<div class='col-lg-4 resume_title_red'>" +
                                    "<h2><strong>دستاورد محققین مرکز</strong></h2>" +
                                    "</div>" +
                                    "<br>" +
                                    "<div class='table-responsive'>" +
                                    "<table class='table table-striped table-bordered table-hover dataTables-example'>" +
                                    "<thead>" +
                                    "<tr>" +
                                    "<th class='text-center' style='background-color: grey; width: 7%'>ردیف</th>" +
                                    "<th class='text-center' style='background-color: grey'>محقق</th>" +
                                    "<th class='text-center' style='background-color: grey'>مقاله</th>" +
                                    "<th class='text-center' style='background-color: grey'>کتاب</th>" +
                                    "<th class='text-center' style='background-color: grey'>ثبت اختراع</th>" +
                                    "<th class='text-center' style='background-color: grey'>ایده</th>" +
                                    "<th class='text-center' style='background-color: grey'>تجربه</th>" +
                                    "<th class='text-center' style='background-color: grey'>دستورالعمل</th>" +
                                    "<th class='text-center' style='background-color: grey'>پروژه</th>" +
                                    "<th class='text-center' style='background-color: grey'>سمینار</th>" +
                                    "<th class='text-center' style='background-color: grey'>گزارش</th>" +
                                    "<th class='text-center' style='background-color: grey'>کارگاه</th>" +
                                    "<th class='text-center' style='background-color: grey'>کمیته داوران</th>" +
                                    "</tr>" +
                                    "</thead>" +
                                    "<tbody>" +
                                    "{% for title, articles, books, inventions, ideas, experiences, manuals, projects, seminars, reports, workshops,orders in object_list %}" +
                                    "<tr>" +
                                        "<td class='align-middle text-center'>{{ forloop.counter }}</td>"+
                                        "<td class='align-middle text-center'>{{ title }}</td>"+
                                        "<td class='align-middle text-center'>{{ articles }}</td>"+
                                        "<td class='align-middle text-center'>{{ books }}</td>"+
                                        "<td class='align-middle text-center'>{{ inventions }}</td>"+
                                        "<td class='align-middle text-center'>{{ ideas }}</td>"+
                                        "<td class='align-middle text-center'>{{ experiences }}</td>"+
                                        "<td class='align-middle text-center'>{{ manuals }}</td>"+
                                        "<td class='align-middle text-center'>{{ projects }}</td>"+
                                        "<td class='align-middle text-center'>{{ seminars }}</td>"+
                                        "<td class='align-middle text-center'>{{ reports }}</td>"+
                                        "<td class='align-middle text-center'>{{ workshops }}</td>"+
                                        "<td class='align-middle text-center'>{{ orders }}</td>" +
                                    "</tr>" +
                                    "{% endfor %}" +
                                    "</tbody>" +
                                    "</table>" +
                                    "</div>" +
                                    "<br><br><br>" +
                                    "<h2 class='text-center' ><b>مدیر دانش ساتخ ندسا</b></h2>" +
                                    "<h3 class='text-center' >محل مهر و امضا</h3" +
                                    "<br><br><br>" +
                                    "</th>" +
                                    "</tr>")
						}
					},
                    {
						extend: 'excelHtml5',
                        text: '<button class="btn btn-lg btn-outline-success"><i class="fa fa-print"></i> خروجی Excel</button>',
						className: 'bg-transparent',
                        title: '',
						filename: 'center',
						exportOptions: {
							columns: [ 1, 2],
						}
					}
				]
			});
		// this is the id of the form
		$("#delete-form").submit(function (e) {
			var form = $(this);
			var url = form.attr('action');

			$.ajax({
				type: "POST",
				url: url,
				data: form.serialize(), // serializes the form's elements.
				success: function (data) {
                    location.replace("{% url 'documents:center_list' %}");
				}
			});
			e.preventDefault(); // avoid to execute the actual submit of the form.
		});

        function attach_delete(id) {
            $.ajax({
                url: "{% url 'documents:ajax' %}",
                data: {
                    'request_type': 'delete_attachment',
                    'attachment_id': `${id}`,
                },
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (data) {
                    location.reload();
                }
            });
        }
	</script>
{% endblock %}

