{% extends 'empty_base.html' %}
{% load staticfiles %}{% load widget_tweaks %}{% load i18n %}

{% block title %}500 Error | Internal Server Error{% endblock %}

{% block content %}
	<div class="middle-box text-center animated fadeInDown">
		<h1>500</h1>
		<h3 class="font-bold">Internal Server Error</h3>

		<div class="error-desc">
			The server encountered something unexpected that didn't allow it to complete the request. We apologize.<br/>
			You can go back to main page: <br/><input type="button" onclick="window.history.back()" value="Go Back" class="btn btn-primary m-t"/>
		</div>
	</div>
{% endblock %}
