{% load static %}
{% load i18n %}
{% load jalali_date %}

<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav metismenu" id="side-menu">
			<li class="nav-header text-center">
				<div class="dropdown profile-element">
					<span>
						<img alt="image" class="rounded-circle img-height-50 img-avatar"
						     src="{% if user.profile.avatar %}{{ user.profile.avatar.url }}{% else %}{% static 'img/user.png' %}{% endif %}"/>
					</span>
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">
						<h3 class="block m-t-xs font-bold"><b class="caret"></b>{% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.get_username }}{% endif %}</h3>
					</a>
					<ul class="dropdown-menu animated fadeInRight m-t-xs">
						<li><a class="dropdown-item" {% if user.profile %}href="{% url 'accounts:profile_details' user.profile.id %}"{% else %}href="#"{% endif %}><i class="fas fa-user-alt" style="margin-left: 6px;"></i>پروفایل</a></li>
						{% if user.is_superuser %}
							<li><a class="dropdown-item" href="{% url 'admin:index' %}" target="_blank"><i class="fas fa-database" style="margin-left: 6px;"></i>پنل دیتابیس</a></li>
							<li><a class="dropdown-item" href="{% url 'accounts:profile_list' %}" target="_blank"><i class="fas fa-users" style="margin-left: 6px;"></i>مدیریت کاربران</a></li>
						{% endif %}
						<li class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="{% url 'authentication:logout' %}"><i class="fas fa-sign-out-alt" style="margin-left: 6px;"></i>خروج</a></li>
					</ul>

				</div>
				<div class="logo-element">
                    <img src="{% static 'img/logo.png' %}" style="max-width: 70px"/>
                    <div class="col-lg-12">سمیع</div>
				</div>
			</li>
            {%  has_perms user 'knowledge;' as has_knowledge_perm %}
            {%  has_perms user 'center;' as has_center_perm %}
            {%  has_perms user 'future;' as has_future_perm %}
            {%  has_perms user 'resume;' as has_resume_perm %}
            <!-- Menu Items -->
        {% if user.is_superuser or has_knowledge_perm %}
            <li {% if request.resolver_match.view_name == 'documents:article_list' or request.resolver_match.view_name == 'documents:order_list' or request.resolver_match.view_name == 'documents:resume_list' or request.resolver_match.view_name == 'documents:center_list' or request.resolver_match.view_name == 'documents:book_list' or request.resolver_match.view_name == 'documents:experience_list' or request.resolver_match.view_name == 'documents:idea_list' or request.resolver_match.view_name == 'documents:thesis_list' or request.resolver_match.view_name == 'documents:seminar_list' or request.resolver_match.view_name == 'documents:manual_list' or request.resolver_match.view_name == 'documents:project_list' or request.resolver_match.view_name == 'documents:visit_list' or request.resolver_match.view_name == 'documents:conference_list'  or request.resolver_match.view_name == 'documents:report_list' %} class="active"{% endif %}>
                <a href="#"><i class="fa fa-university"></i>
                    <span class="nav-label">مدیریت دانش</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li {% if request.resolver_match.view_name == 'documents:article_list' %}class="active"{% endif %}>
                        <a href="{% url 'documents:article_list' %}" ><i class="fa fa-file-alt"></i>
                            <span class="nav-label">مقالات</span>
                        </a>
                    </li>
                    <li {% if request.resolver_match.view_name == 'documents:book_list' %}class="active"{% endif %}>
                        <a href="{% url 'documents:book_list' %}" ><i class="fa fa-book"></i>
                            <span class="nav-label">کتاب</span>
                        </a>
                    </li>
                    <li {% if request.resolver_match.view_name == 'documents:experience_list' %}class="active"{% endif %}>
                        <a href="{% url 'documents:experience_list' %}" ><i class="fa fa-pen"></i>
                            <span class="nav-label">تجربه نگاری</span>
                        </a>
                    </li>
                    <li {% if request.resolver_match.view_name == 'documents:idea_list' %}class="active"{% endif %}>
                        <a href="{% url 'documents:idea_list' %}" ><i class="fa fa-bolt"></i>
                            <span class="nav-label">ایده پردازی</span>
                        </a>
                    </li>
                    <li {% if request.resolver_match.view_name == 'documents:thesis_list' %}class="active"{% endif %}>
                        <a href="{% url 'documents:thesis_list' %}" ><i class="fa fa-graduation-cap"></i>
                            <span class="nav-label">پایان نامه</span>
                        </a>
                    </li>
                    <li {% if request.resolver_match.view_name == 'documents:manual_list' %}class="active"{% endif %}>
                        <a href="{% url 'documents:manual_list' %}" ><i class="fa fa-wrench"></i>
                            <span class="nav-label">دستورالعمل ها</span>
                        </a>
                    </li>
                    <li {% if request.resolver_match.view_name == 'documents:order_list' %}class="active"{% endif %}>
                        <a href="{% url 'documents:order_list' %}" ><i class="fa fa-diamond"></i>
                            <span class="nav-label">کمیته داوران</span>
                        </a>
                    </li>
                    <li {% if request.resolver_match.view_name == 'documents:seminar_list' %}class="active"{% endif %}>
                        <a href="{% url 'documents:seminar_list' %}" ><i class="fa fa-users-class"></i>
                            <span class="nav-label">سمینار</span>
                        </a>
                    </li>
                    <li {% if request.resolver_match.view_name == 'documents:project_list' %}class="active"{% endif %}>
                        <a href="{% url 'documents:project_list' %}" ><i class="fa fa-tasks"></i>
                            <span class="nav-label">پروژه های تحقیقاتی</span>
                        </a>
                    </li>
                    <li {% if request.resolver_match.view_name == 'documents:conference_list' %}class="active"{% endif %}>
                        <a href="{% url 'documents:conference_list' %}" ><i class="fa fa-ticket-alt"></i>
                            <span class="nav-label">ثبت رویدادها و همایش ها</span>
                        </a>
                    </li>

                    <li {% if request.resolver_match.view_name == 'documents:visit_list' %}class="active"{% endif %}>
                        <a href="{% url 'documents:visit_list' %}" ><i class="fa fa-industry"></i>
                            <span class="nav-label">بازدیدهای علمی</span>
                        </a>
                    </li>
                    <li {% if request.resolver_match.view_name == 'documents:report_list' %}class="active"{% endif %}>
                        <a href="{% url 'documents:report_list' %}" ><i class="fa fa-file-alt"></i>
                            <span class="nav-label">گزارشات فنی</span>
                        </a>
                    </li>
                    <li {% if request.resolver_match.view_name == 'documents:center_list' %}class="active"{% endif %}>
                        <a href="{% url 'documents:center_list' %}" ><i class="fa fa-cube"></i>
                            <span class="nav-label">رزومه مراکز تحقیقاتی</span>
                        </a>
                    </li>
                    <li {% if request.resolver_match.view_name == 'documents:resume_list' %}class="active"{% endif %}>
                        <a href="{% url 'documents:resume_list' %}" ><i class="fa fa-user-circle"></i>
                            <span class="nav-label">رزومه دانشی محققین</span>
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}
        {% if user.is_superuser or has_center_perm %}
            <li {% if request.resolver_match.view_name == 'documents:core_list' or  request.resolver_match.view_name == 'documents:tech_list' or  request.resolver_match.view_name == 'documents:company_list' %}class="active"{% endif %}>
                <a href="#"><i class="fa fa-cube"></i>
                    <span class="nav-label">رشد، خلاقیت و نوآوری</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li {% if request.resolver_match.view_name == 'documents:core_list' %}class="active"{% endif %}>
                        <a href="{% url 'documents:core_list' %}" ><i class="fa fa-podcast"></i>
                            <span class="nav-label">هسته ها</span>
                        </a>
                    </li>
                    <li {% if request.resolver_match.view_name == 'documents:tech_list' %}class="active"{% endif %}>
                        <a href="{% url 'documents:tech_list' %}" ><i class="fa fa-rocket"></i>
                            <span class="nav-label">واحدهای فناور</span>
                        </a>
                    </li>

                    <li {% if request.resolver_match.view_name == 'documents:company_list' %}class="active"{% endif %}>
                        <a href="{% url 'documents:company_list' %}" ><i class="fa fa-copyright"></i>
                            <span class="nav-label">شرکت ها</span>
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}
        {% if user.is_superuser or has_future_perm %}
            <li {% if request.resolver_match.view_name == 'documents:journal_list' or request.resolver_match.view_name == 'documents:future_list' or request.resolver_match.view_name == 'documents:cowork_list' %}class="active"{% endif %}>
                <a href="#"><i class="fa fa-handshake-alt"></i>
                    <span class="nav-label">آینده پژوهی و همکاری های علمی</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li {% if request.resolver_match.view_name == 'documents:future_list' %}class="active"{% endif %}>
                        <a href="{% url 'documents:future_list' %}" ><i class="fa fa-chart-line"></i>
                            <span class="nav-label">رصد و آینده پژوهی</span>
                        </a>
                    </li>
                    <li {% if request.resolver_match.view_name == 'documents:journal_list' %}class="active"{% endif %}>
                        <a href="{% url 'documents:journal_list' %}" ><i class="fa fa-file-alt"></i>
                            <span class="nav-label">فصلنامه فاتح</span>
                        </a>
                    </li>
                    <li {% if request.resolver_match.view_name == 'documents:cowork_list' %}class="active"{% endif %}>
                        <a href="{% url 'documents:cowork_list' %}" ><i class="fa fa-handshake-alt"></i>
                            <span class="nav-label">همکاری علمی</span>
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}
        {% if user.is_superuser or has_resume_perm %}
            <li {% if request.resolver_match.view_name == 'documents:assessment_list' or request.resolver_match.view_name == 'documents:invention_list' or request.resolver_match.view_name == 'documents:workshop_list' %}class="active"{% endif %}>
                <a href="#"><i class="fa fa-users"></i>
                    <span class="nav-label">آموزش و امور محققین</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li {% if request.resolver_match.view_name == 'documents:invention_list' %}class="active"{% endif %}>
                        <a href="{% url 'documents:invention_list' %}" ><i class="fa fa-bolt"></i>
                            <span class="nav-label">ثبت اختراع</span>
                        </a>
                    </li>
                    <li {% if request.resolver_match.view_name == 'documents:assessment_list' %}class="active"{% endif %}>
                        <a href="{% url 'documents:assessment_list' %}" ><i class="fa fa-chart-line"></i>
                            <span class="nav-label">میز خدمتی نظام ارزیابی</span>
                        </a>
                    </li>
                    <li {% if request.resolver_match.view_name == 'documents:workshop_list' %}class="active"{% endif %}>
                        <a href="{% url 'documents:workshop_list' %}" ><i class="fa fa-users-class"></i>
                            <span class="nav-label">کارگاه ها و دوره های آموزشی</span>
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}
		</ul>

	</div>
</nav>
