{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
	<div class="navbar-header">
		<a class="navbar-minimalize minimalize-styl-2 btn btn-success" href="#"><i class="fa fa-bars"></i> </a>
	</div>

	<ul class="nav navbar-top-links navbar-left">
						<li>
			<span class="m-r-sm welcome-message">به سمیع خوش آمدید.</span>
		</li>
	</ul>
	<ul class="nav navbar-top-links navbar-right">
		<li>
            <button type=button class="btn btn-outline-light" onClick="javascript:history.go(-1);"><i class="fas fa-reply"></i> صفحه قبل</button>
		</li>
	</ul>
</nav>
