{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">

	<div class="navbar-header">
		<a class="navbar-minimalize minimalize-styl-2 btn btn-success" href="#"><i class="fa fa-bars"></i> </a>
<!--		<form role="search" class="navbar-form-custom" action="#">-->
<!--			<div class="form-group">-->
<!--				<input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">-->
<!--			</div>-->
<!--		</form>-->

	</div>

	<ul class="nav navbar-top-links navbar-left">
						<li>
			<span class="m-r-sm welcome-message">به سامانه مدیریت مراکز خوش آمدید.</span>
		</li>
	</ul>
	<ul class="nav navbar-top-links navbar-right">


<!--		<li class="dropdown">-->
<!--			<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">-->
<!--				<i class="fa fa-bell"></i>-->
<!--				<span class="label label-primary">8</span>-->
<!--			</a>-->
<!--			<ul class="dropdown-menu dropdown-alerts">-->
<!--				<li>-->
<!--					<a href="#" class="dropdown-item">-->
<!--						<div>-->
<!--							<i class="fa fa-envelope fa-fw"></i> You have 16 messages-->
<!--							<span class="float-right text-muted small">4 minutes ago</span>-->
<!--						</div>-->
<!--					</a>-->
<!--				</li>-->
<!--				<li class="dropdown-divider"></li>-->
<!--				<li>-->
<!--					<a href="#" class="dropdown-item">-->
<!--						<div>-->
<!--							<i class="fab fa-twitter fa-fw"></i> 3 Area Enterance-->
<!--							<span class="float-right text-muted small">12 minutes ago</span>-->
<!--						</div>-->
<!--					</a>-->
<!--				</li>-->
<!--				<li class="dropdown-divider"></li>-->
<!--				<li>-->
<!--					<a href="#" class="dropdown-item">-->
<!--						<div>-->
<!--							<i class="fa fa-upload fa-fw"></i> Server Rebooted-->
<!--							<span class="float-right text-muted small">4 minutes ago</span>-->
<!--						</div>-->
<!--					</a>-->
<!--				</li>-->
<!--				<li class="dropdown-divider"></li>-->
<!--				<li>-->
<!--					<div class="text-center link-block">-->
<!--						<a href="#" class="dropdown-item">-->
<!--							<i class="fa fa-angle-left"></i>-->
<!--							<strong>Show All Alerts</strong>-->
<!--						</a>-->
<!--					</div>-->
<!--				</li>-->
<!--			</ul>-->
<!--		</li>-->

		<li>
            <button type=button class="btn btn-outline-light" onClick="javascript:history.go(-1);"><i class="fas fa-reply"></i> صفحه قبل</button>
		</li>
{#		<li>#}
{#			<a href="{% url 'authentication:logout' %}">#}
{#				خروج<i class="fas fa-sign-out-alt" style="margin-left: 6px;"></i>#}
{#			</a>#}
{#		</li>#}
	</ul>

</nav>
